rmongodb/Read-and-delete-me
rmongodb/src-i386
rmongodb/src-x64
ipch/
Debug/
rmongodb.Rcheck/
rmongodb.sln
rmongodb.vcxproj
rmongodb.vcxproj.filters
rmongodb.vcxproj.user
rmongodb.opensdf
rmongodb.sdf
rmongodb.suo
rmongodb_*.tar.gz
src/*.o
src/*.so
src/*.rds
.Rproj.user
.Rhistory
.DS_Store
README.html
