rmongodb/Read-and-delete-me
rmongodb/src-i386
rmongodb/src-x64
ipch/
Debug/
rmongodb.Rcheck/
rmongodb.sln
rmongodb.vcxproj
rmongodb.vcxproj.filters
rmongodb.vcxproj.user
rmongodb.opensdf
rmongodb.sdf
rmongodb.suo
rmongodb_*.tar.gz
*.o
src/*.o
src/libmongo/*.o
src/libbson/*.o
src/libbson/bson/bcon.o
src/libbson/yajl/*.o
src/*.so
src/*.rds
.Rproj.user
.Rhistory
.DS_Store
README.html
vignettes/figure/*
vignettes/*.html
vignettes/*.md
vignettes/*.tex
vignettes/*.log
vignettes/*.sync*
vignettes/*.pdf
